<div class="session-panel">
  <div class="row">
    <div class="col-lg-offset-4 col-md-4">
      <h4><%=t("common.register_account") %></h4>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), wrapper: :bootstrap, defaults: {input_html: {class: "form-control"}}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :username, :required => true, :autofocus => true, label: t("attributes.user.username") %>
          <%= f.input :email, :required => true, label: t("attributes.user.email") %>
          <%= f.input :password, :required => true, label: t("attributes.user.password") %>
          <%= f.input :password_confirmation, :required => true, label: t("attributes.user.password_confirmation") %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, t("common.register_account"), disable_with: t("common.registering"), class: "btn btn-success" %>
        </div>
      <% end %>

      <div class="link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
