<div id="topic-comment-<%= topic.id %>" class="comment-form collapse">
  <div class="comment-avatar">
    <%= link_to user_path(current_user), class: 'thumbnail' do %>
      <%= image_tag user_avatar_path(current_user) %>
    <% end %>
  </div>
  <%= simple_form_for [topic, @comment], remote: true, defaults: {input_html: {class: 'form-control'}} do |f| %>
    <%= f.input 'content', as: :text, required: true, label: false %>
    <%= f.submit t("comments.create_comment"), disable_with: t("comments.submit") %>
  <% end %>
</div>
