<% title @topic.content %>

<ol class="breadcrumb">
  <li><%= link_to t("breadcrumb.home"), root_path %>
  <li><%= link_to @group.category.name, category_path(@group.category) %>
  <li><%= link_to @group.title, group_path(@group) %></li>
  <li><%= t("breadcrumb.topic") %></li>
</ol>

<div class="row group-content">
  <div class="col-sm-9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#group-info" data-toggle="tab"><%= @group.title %></a></li>
    </ul>
    <div id="group-tab" class="tab-content">
      <div class="tab-pane active" id="group-info">

            <div class="row">
              <div class="col-md-12">
                <%= render "topics/topic", topic: @topic %>
              </div>
            </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
