<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Groups", groups_path %></li>
  <li class="active">New Group</li>
  </ol>

<h2>New Group</h2>
<%= simple_form_for @group, defaults: { input_html: {class: 'form-control'}}, html: { multipart: true, :class => 'form-horizontal' } do |f| %>
  <%= f.input :title, label: "Group title", required: true %>
  <%= f.input :description, as: :text, label: "Group description", input_html: {rows: 5} %>
  <%= f.input :image, as: :file %>
  <%= f.submit 'New Group', disable_with: 'Submiting...', class: 'btn btn-primary btn-lg' %>
<% end %>
