<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %>
  <li><%= link_to "Groups", groups_path %></li>
  <li class="active"><%= @group.title %></li>
</ol>

<div class="row group-content">
  <div class="col-sm-9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#group-info" data-toggle="tab"><%= @group.title %></a></li>
      <li><a href="#links" data-toggle="tab">links</a></li>
    </ul>
    <div id="group-tab" class="tab-content">
      <div class="tab-pane active" id="group-info">
        <% if logined? && current_user && current_user.is_member_of?(@group) %>
          <div class="topic-form clearfix">
            <%= simple_form_for [@group, @topic], defaults: {input_html: {class: 'form-control'}} do |f| %>
              <%= f.input :content, as: :text, required: true, label: 'New Topic', input_html: {rows: 4} %>
              <%= f.submit "Submit", disable_with: "Submiting...", class: 'btn btn-primary pull-right' %>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-info">
            <h4>Join “<%= @group.title %>” now and post!</h4>
            <p>Join the group now to post things and reply to posts. Enjoy the convenience of browsing post archives easily, and get the full list of links that are ever posted in this group.</p>
            <div class="">
              <%= link_to "Join the group", join_group_path(@group), method: "post", class: "btn btn-primary btn-lg" %>
            </div>
          </div>
        <% end %>
        <% if @topics.any? %>
          <% @topics.each do |topic| %>
            <div class="row">
              <div class="col-md-12">
                <div class="topic">
                  <div class="topic-avatar">
                    <%= link_to '', class: 'thumbnail' do %>
                      <%= image_tag gravatar_for(topic.user, options: {size: "64"}) %>
                    <% end %>
                    <%= link_to topic.user.username, '', class: 'topic-user' %>
                  </div>
                  <div class="topic-body">
                    <div class="topic-content">
                      <%= topic.content %>
                    </div>
                    <div class="topic-meta">
                      <span class="topic-timestamp">
                        <%= link_to (timeago_tag topic.created_at).to_s, group_topic_path(@group, topic) %>
                      </span>
                      <% if topic.user == current_user %>
                        <span class="topic-remove">
                          <%= link_to group_topic_path(@group, topic), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <span class="glyphicon glyphicon-trash"></span> Delete
                          <% end %>
                        </span>
                      <% end %>
                      <span class="topic-like">
                        <%= link_to '' do %>
                          <span class="glyphicon glyphicon-heart-empty"></span> Like
                        <% end %>
                      </span>
                      <span class="topic-reply">
                        <%= link_to 'javascript:;', :"data-toggle" => "collapse", :"data-target" => "#topic-comment-#{topic.id}" do %>
                          <span class="glyphicon glyphicon-comment"></span> Reply
                        <% end %>
                      </span>
                      <span class="topic-share">
                        <%= link_to '' do %>
                          <span class="glyphicon glyphicon-share-alt"></span> Share
                        <% end %>
                      </span>
                    </div>
                    <div class="topic-comments">
                      <div class="comment-list clearfix">
                        <% if topic.comments.any? %>
                          <% topic.comments.each do |comment| %>
                            <div class="group comment-box">
                              <div class="comment-avatar">
                                <%= link_to '', class: 'thumbnail' do %>
                                  <%= image_tag gravatar_for(comment.user) %>
                                <% end %>
                              </div>
                              <div class="comment-body">
                                <h4 class="comment-user"><%= link_to comment.user.username, '' %></h4>
                                <div class="comment-content">
                                  <%= comment.content %>
                                </div>
                                <div class="comment-meta">
                                  <span class="comment-timestamp">
                                    <%= (timeago_tag comment.created_at).to_s %>
                                </span>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <% if logined? %>
                      <div id="topic-comment-<%= topic.id %>" class="comment-form collapse">
                        <div class="comment-avatar">
                          <%= link_to '', class: 'thumbnail' do %>
                            <%= image_tag current_user.avatar_url || 'default-avatar.jpg' %>
                          <% end %>
                        </div>
                        <%= simple_form_for [topic, @comment], remote: true, defaults: {input_html: {class: 'form-control'}} do |f| %>
                          <%= f.input 'content', as: :text, required: true, label: false %>
                          <%= f.submit disable_with: 'submitting...' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane" id="links">
    </div>
  </div>
</div>
<div class="group-sidebar col-md-3">
  <div class="sidebar-section">
    <h4>Members</h4>
    <div class="member-list clearfix">
      <% @group.members.each do |member| %>
        <%= image_tag gravatar_for(member) %>
      <% end %>
    </div>
  </div>
  <div class="sidebar-section">
    <h4>Description</h4>
    <div class="well">
      <%= @group.description %>
    </div>
  </div>
  <div class="sidebar-section">
    <h4>Rules</h4>
    <div class="well">
      <%= @group.rules %>
    </div>
  </div>
  <div class="sidebar-section">
  </div>
  <% if current_user %>
    <% if @group.owner == current_user %>
      <div class="sidebar-section">
        <%= link_to "Dismiss Group", group_path(@group), method: :delete, data: { confirm: "Are you sure to delete the group?" }, class: 'btn btn-danger' %>
      </div>
    <% elsif current_user.is_member_of?(@group) %>
      <%= link_to "Quit Group", quit_group_path(@group), method: :post, data: { confirm: "Are you sure to quit the group?" }, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to "Join", join_group_path, method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>
</div>
