<% title @group.title %>
<ol class="breadcrumb">
  <li><%= link_to t("breadcrumb.home"), root_path %>
  <li><%= link_to @group.category.name, category_groups_path(@group.category) %></li>
  <li class="active"><%= @group.title %></li>
</ol>

<div class="row group-content">
  <div class="col-md-9 group-main">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#group-info" data-toggle="tab"><%= @group.title %></a></li>
    </ul>
    <div id="group-tab" class="tab-content">
      <div class="tab-pane active" id="group-info">
        <% if logined? && current_user && current_user.is_member_of?(@group) %>
          <div class="topic-form clearfix">
            <%= simple_form_for [@group, @topic], defaults: {input_html: {class: 'form-control'}} do |f| %>
              <%= f.input :content, as: :text, required: true, label: t("topics.new_topic"), input_html: {rows: 4} %>
              <%= f.submit t("topics.create"), disable_with: t("topics.creating"), class: 'btn btn-primary pull-right' %>
            <% end %>
          </div>
        <% else %>
          <blockquote>
            <h4><%= t("groups.message_title", title: @group.title) %></h4>
            <p><%=t ("groups.message_content") %></p>
            <div class="btn-join">
              <%= link_to t("groups.button_join"), join_group_path(@group), method: "post", class: "btn btn-success btn-lg" %>
            </div>
          </blockquote>
        <% end %>
        <div class="topics">
          <% if @topics.any? %>
            <%= render partial: "topics/topic", collection: @topics %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="group-sidebar col-md-3">
    <%= render 'shared/sidebar_for_group' %>
  </div>
</div>
