<div class="row">
  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to t("users.info"), "#", :"data-toggle" => "tab" %></li>
    </ul>
    <div class="tab-content">
      <ul class="user-profile">
        <li>
          <div class="row base">
            <div class="col-md-2 user-avatar">
              <%= image_tag @user.avatar_url(:thumb) %>
            </div>
            <div class="col-md-8 user-details">
              <p><span class="col-lg-2"><%= t("attributes.user.username") %></span><%= @user.username %></p>
              <p><span class="col-lg-2"><%= t("attributes.user.email") %></span><%= @user.email %></p>
              <p><span class="col-lg-2"><%= t("attributes.user.created_at") %></span><%= @user.created_at %></p>
            </div>
            <div class="col-md-2 num"><span class="label label-default"><%= t("users.rank", rank: @user.id) %></span></div>
          </div>
          <div class="row latest-info">
            <div class="col-md-12 user-topic">
              <div class="panel panel-default">
                <div class="panel-heading"><%= t("common.latest_groups") %></div>
                <div class="panel-body">
                  <ul>
                    <% @latest_groups.each do |group| %>
                      <li>
                        <div class="group-item col-lg-3">
                          <%= image_tag group.image_url(:thumb) %>
                          <p><%= link_to group.title, group_path(group) %></p>
                        </div>
                      </li>
                      <% end %>
                    </ul>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading"><%= t("common.latest_topics") %></div>
                <div class="panel-body">
                  <ul>
                    <% @latest_topics.each do |topic| %>
                      <li><%= link_to topic.content, group_topic_path(topic.group, topic) %></li>
                      <% end %>
                    </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
