<div class="group comment-box" id="<%= dom_id @comment %>">
  <div class="comment-avatar">
    <%= link_to '', class: 'thumbnail' do %>
      <%= image_tag gravatar_for @comment.user %>
    <% end %>
  </div>
  <div class="comment-body">
    <h4 class="comment-user"><%= link_to @comment.user.username, '' %></h4>
    <div class="comment-content">
      <%= @comment.content %>
    </div>
    <div class="comment-meta">
      <span class="comment-timestamp">
        commented at <%= (timeago_tag @comment.created_at).to_s %>,
        <%= link_to 'delete', topic_comment_path(@topic, @comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>
  </div>
</div>

