<div class="sidebar-section">
  <h4><%= @group.title %></h4>
  <%= image_tag group_image_path(@group) %>
</div>
<div class="sidebar-section">
  <h4><%= t("attributes.group.description") %></h4>
  <div class="well">
    <%= @group.description %>
  </div>
</div>
<div class="sidebar-section">
  <h4><%= t("attributes.group.rules") %></h4>
  <div class="well">
    <%= @group.rules %>
  </div>
</div>
<div class="sidebar-section">
  <h4><%= t("attributes.group.member") %></h4>
  <div class="member-list clearfix">
    <% @group.members.each do |member| %>
      <%= link_to(image_tag(user_avatar_path(member)), user_path(member), title: member.username) %>
    <% end %>
  </div>
</div>
<div class="sidebar-section">
</div>
<% if current_user %>
  <% if owner?(@group) %>
    <div class="sidebar-section">
      <%= link_to t("groups.dismiss"), group_path(@group), method: :delete, data: { confirm: "Are you sure to delete the group?" }, class: 'btn btn-danger' %>
    </div>
  <% elsif current_user.is_member_of?(@group) %>
    <%= link_to t("groups.quit"), quit_group_path(@group), method: :post, data: { confirm: "Are you sure to quit the group?" }, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to t("groups.join"), join_group_path, method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
</div>
