<div class="navbar-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span><strong><%=t("common.what") %></strong> <%= t("common.description") %> <a href="#"><%= t("common.more") %></a></span>
        </div>
      </div>
  </div>
</div>
<nav class="navbar navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Groupme</a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><%= link_to t("common.home"), root_path %></li>
        <li><%= link_to t("menu.groups"), groups_path %></li>
        <li><%= link_to t("menu.create_group"), new_group_path %></li>
        <li><%= link_to t("common.users"), users_path %></li>
        <li><a href="#"><%= t("common.what") %></a></li>
      </ul>
      <form class="navbar-form">
        <div class="input-group input-group-sm pull-left col-md-3">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <input type="text" class="form-control" placeholder="<%=t("common.search_group")%>">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %> <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li><%= link_to t("common.dashboard"), user_path(current_user) %></li>
              <li role="presentation"><%= link_to t("common.profile"), edit_user_path(current_user) %></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><%= link_to t("common.logout"), destroy_user_session_path, method: :delete, :"data-no-turbolink" => true %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("common.register"), new_user_registration_path %></li>
          <li><%= link_to t("common.login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</nav>
